<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533155070430-9h5bj8p04vh62l3qendg16081fih5prj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533155070430-9h5bj8p04vh62l3qendg16081fih5prj</string>
	<key>API_KEY</key>
	<string>AIzaSyAbpzvAvxF-Gvi7JFOJZAFspbTqlnxEvYo</string>
	<key>GCM_SENDER_ID</key>
	<string>533155070430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RamtinSaremi.RecipeGoSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>recipegoteam</string>
	<key>STORAGE_BUCKET</key>
	<string>recipegoteam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533155070430:ios:05da9b31172c61cb639d4f</string>
	<key>DATABASE_URL</key>
	<string>https://recipegoteam-default-rtdb.firebaseio.com</string>
</dict>
</plist>